{% extends 'account/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet">
</head>
    <body>
    <div class="min-h-screen flex">
        <div class="w-1/2 bg-cover bg-center" style="background-image: url('{% static 'images/bg.png' %}');">
            <!-- Image side -->
        </div>
        <div class="w-1/2 bg-white flex items-center justify-center">
            <!-- User credentials entry side -->
            <form class="max-w-md w-full p-6">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="flex items-center justify-between mt-4">
                    <label class="block">
                        <input type="checkbox" class="mr-2 leading-tight">
                        <span class="text-sm">
                            Remember Me
                        </span>
                    </label>
                    <a href="{% url 'account_reset_password' %}" class="text-blue-500 text-sm hover:underline">Forgot Password?</a>
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded mt-4 hover:bg-blue-700">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}


