{% extends 'clothingstore/base.html' %}
{% load static %}

{% block content %}
  <h1>Product List</h1>

  <div class="product-list">
    {% for product in products %}
      <div class="product-card">
        {% for image in product.images.all %}
          <img src="{{ image.image_1.url }}" alt="{{ product.name }}" class="product-image">
        {% endfor %}
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <p>Sizes: {{ product.get_sizes_display }}</p>
        <p>Colors: {{ product.get_colors_display }}</p>
        <p>Stock: {% if product.in_stock %}In Stock{% else %}Out of Stock{% endif %}</p>
        <p>Category: {{ product.subcategory.parent_category.name }} > {{ product.subcategory.name }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
